body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 200px;
}

.header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 5px 50px;
    background-color: #1F2937;
    min-width: 50vh;
    flex: 1 1 auto;
    height: fit-content;
}
.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9faf8;
}

.navbar-links {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar,
.nabvar-links {
    display: flex;
    justify-content: space-around;
}

.navbar {
    /* flex:1 */
}
.hero {
    flex: 1 1 auto;
    display:flex ;
    flex-direction: row;
    align-items: center;

}

.hero-left,
.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* flex-shrink: 0; */
    /* height: fit-content; */
    flex: 1 1 auto;
}

.hero-left {
    /* flex: 1; */
    /* flex-basis: auto; */
    flex-direction: column;
    height: 300px;
    align-items: flex-start;
}

.sing-up{
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.hero-right {
    /* flex: 1; */
    
}
.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9faf8;
}
a,
.hero-main-text-2 {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
a {
    margin-left: 10px;
}

img {
    width: 500px;
    height: 300px;
    background-color: white;
}
button {
    width: 80px;
    height: 20px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;

}
.sing-up {
    /* display: flex; */
    /* justify-content: center; */
}

.content-one {
    /* flex: 1; */
    /* display: flex; */
}