body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 300px;
    background-color: black;
}

.header {
    padding: 5px 100px 100px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

}
.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9faf8;
    padding-bottom: 100px;
}

.navbar-links {
    font-size: 18px;
    color: #e5e7eb;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9faf8;
}
a,
.hero-main-text-2 {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 25px 0px;
}
.hero {
    display: flex;
}
.hero-left, 
.hero-right {
    flex:1 ;
    display: flex;
}
.hero-left{
    flex-direction: column;
    margin-right: 25px;
}
.hero-right {
    justify-content: flex-end;
    margin-left: 25px;

}
a {
    margin-left: 10px;
}

img {
    /* width: 100%;
    height: auto; */
    max-width: 100%;
    max-height: 100%;
}

button {
    width: 150px;
    height: 50px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.sing-up {
    display: flex;
    flex: auto;
    align-items: flex-end;
}

.content-one {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 100px 100px 100px;
    justify-content: center;
    background-color: white;
}

.info-text,
.photos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0px 100px;
}
.info-text {
    padding: 50px 0px;
    font-size: 36px;
    font-weight: 900;
}
.photos {
    flex-wrap: wrap;
}
.photo-one,
.photo-two,
.photo-three,
.photo-four {
    display: flex;
    flex-direction: column;
    color: #1F2937;
}
.photo-one img,
.photo-two img,
.photo-three img,
.photo-four img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}
.photo-text {
    display: flex;
    text-align: center;
    width: 154px;
    height: auto;
    margin-top: 10px;
}